<!-- <div class="grid">
    <div class="grid-container">
 
        <div class="card card1" >
            <section class="cardHeader" >
                
                <span class="cardAvatarContainer">
                    <span class="cardAvatar"></span>
                </span>
                <span class="cardHeaderTextContainer">
                    <div class="cardHeaderTitle"><h2>Title</h2></div>
                    <div class="cardHeaderSupportingText" style="display: inline-block;"><h4>Support text</h4></div>
                    
                </span>
                <i class="ui red label" style="float: right;">asdds</i>
                <i class="ui red label" style="float: right;">asdds</i>
                <i class="ui red label" style="float: right;">asdds</i>
            </section>

            
            <section class="nonSharedContent" >
                <section class="greySquaresContainer">
                    <span class="greySquare"></span>
                    <span class="greySquare"></span>
                    <span class="greySquare"></span>
                    <span class="greySquare"></span>
                </section>
                <div class="greyLine"></div>
                <div class="greyLine"></div>
                
            </section>
        
        </div>
        <div class="card card1" >
            <section class="cardHeader" >
                
                <span class="cardAvatarContainer">
                    <span class="cardAvatar"></span>
                </span>
                <span class="cardHeaderTextContainer">
                    <div class="cardHeaderTitle"><h2>Title</h2></div>
                    <div class="cardHeaderSupportingText" style="display: inline-block;"><h4>Support text</h4></div>
                    
                </span>
                <i class="ui red label" style="float: right;">asdds</i>
                <i class="ui red label" style="float: right;">asdds</i>
                <i class="ui red label" style="float: right;">asdds</i>
            </section>

            
            <section class="nonSharedContent" >
                <section class="greySquaresContainer">
                    <span class="greySquare"></span>
                    <span class="greySquare"></span>
                    <span class="greySquare"></span>
                    <span class="greySquare"></span>
                </section>
                <div class="greyLine"></div>
                <div class="greyLine"></div>
                
            </section>
        
        </div>

        

        
    </div>
    </div>


    <style>
        .grid {

/* border: 1px solid #000; */
width:100%;
}
.grid-container {
overflow-y: auto;
overflow-x: hidden;
height: 400px;
}

    </style>

    <style>


.card1 {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    background-color: #fefefe;
    height: 68px;
    max-width: 80%;
    overflow: hidden;
    transition: 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
    
    /* to position in middle */  
    margin: auto;
    margin-top: 25px;
    position: relative;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}

.cardActive {
    height: 332px;
}

.cardActive .nonSharedContent {
    /* When closing, wait 75ms before fading and fade for longer */
    transition: 150ms;
    transition-delay: 75ms;
    opacity: 1;
}

.nonSharedContent {

    transition: 75ms;
    opacity: 0;
}

.cardHeader {
    cursor: pointer;
    width: 100%;
    height: 72px;
    padding-top: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.cardHeaderTextContainer {
    display: inline-block;
    height: 100%;
    padding-top: 4px;
    width: auto;
}



.cardAvatarContainer {
    display: inline-block;
    margin: 0 16px;
    height: 100%;
    float: left;
}

.cardAvatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #2196f2;
    display: inline-block;
}

.greySquaresContainer {
    width: 200%;
    padding: 10px;
}

.greySquare {
    margin: 8px;
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: #ededed;
    border-radius: 2px;
}

.greyLine {
    width: 160px;
    height: 16px;
    margin: 24px 16px;
    background-color: #ededed;
}

.greyLine:first-of-type {
    width: 220px;
    margin: 0 16px;
}
    </style>

    <script>
        // Initialize
const allCardsHeaders = document.getElementsByClassName("cardHeader");
for(header of allCardsHeaders) {
    header.addEventListener("click", clickCard);
}

function clickCard(e) {
    this.parentElement.classList.toggle('cardActive');
}
    </script> -->

    <div id="menu">
     
      
      <a class="btn book-now desktop open-datepicker-popup" href="#" title="Book Now"><div style="margin-top: -10px;">Tutorials</div></a>

<style>
.btn.book-now {
  background: #15123D;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: 1rem;
  height: 35px;

  line-height: 50px;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: bottom right;
  width: 100px;
}

</style>

      </div>
      <div id="popup-bg"></div>
      <div id="popup-nav">
      

        <div class="ui column " style="margin-top: -50px;">

<section id="accordion-wrapper" style="color: white;">
    <section class="accordion">
      <h2 class="accordion__control">
        <button class="toggle" aria-expanded="false">
          Introduction
          <svg height="1em" width="1em" focusable="false" aria-hidden="true" role="img"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g fill="currentColor" id="chevron-up"><path id="Path_165" data-name="Path 165" class="cls-1" d="M4.18,12.23a1.92,1.92,0,0,0-2.62,0,1.75,1.75,0,0,0-.09,2.48l.09.09,21.13,21a1.92,1.92,0,0,0,2.62,0l21.13-21a1.75,1.75,0,0,0,.09-2.48l-.09-.09a1.92,1.92,0,0,0-2.62,0L24,31.33Z"/></g></svg>
        </button>   
      </h2>  
      <div class="accordion__content"  hidden>  
       
     
        
        <h3>1.1 Welcome</h3>
       

        <div class="contain" style="margin-left: -25px;">
            

          
          <div class="ui card" style="min-width: 370px;">
            <div class="image">
              <iframe src="https://www.youtube.com/embed/nwjAHQERL08?list=PLGLfVvz_LVvTn3cK5e6LjhgGiSeVlIRwt" allowfullscreen width="370px" height="180px"></iframe>
            </div>
        
            <div class="extra content">
              <div style="font-family: 'Montserrat', sans-serif;">
                <h6 class="ui orange label">Deploying</h6>
                <h6 class="ui green label">First time</h6>
                <h6 class="ui purple label">Introduction</h6>
               </div>
            </div>
          </div>
          
        
        
        <style>
              .o-video {
  width: 110%;
  height: 0;
  position: relative;
  padding-top: 56.25%; /* 9 / 16 * 100 */
}
.o-video > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

            </style>

          </div>


          <h3>1.2 Containers</h3>
        <div class="contain" style="margin-left: -25px;">
       
          <div class="ui card" style="min-width: 370px;">
            <div class="image">
              <iframe src="https://www.youtube.com/embed/nwjAHQERL08?list=PLGLfVvz_LVvTn3cK5e6LjhgGiSeVlIRwt" allowfullscreen width="370px" height="180px"></iframe>
            </div>
        
            <div class="extra content">
              <div style="font-family: 'Montserrat', sans-serif;">
                <a class="ui orange label">Deploying</a>
                <a class="ui green label">First time</a>
                <a class="ui purple label">Starting</a>
               </div>
            </div>
          </div>


        </div>


      </div>  
    </section>
    <section class="accordion">
      <h2 class="accordion__control">
        <button class="toggle chevron--down" aria-expanded="false">
          Section 2
          <svg height="1em" width="1em" focusable="false" aria-hidden="true" role="img"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><title>chevron-down</title><g fill="currentColor" id="chevron-up"><path id="Path_165" data-name="Path 165" class="cls-1" d="M4.18,12.23a1.92,1.92,0,0,0-2.62,0,1.75,1.75,0,0,0-.09,2.48l.09.09,21.13,21a1.92,1.92,0,0,0,2.62,0l21.13-21a1.75,1.75,0,0,0,.09-2.48l-.09-.09a1.92,1.92,0,0,0-2.62,0L24,31.33Z"/></g></svg>
        </button>   
      </h2>  
      <div class="accordion__content" hidden>  
       
        
        <h3>1.2 Containers</h3>
        <div class="contain" style="margin-left: -25px;">
       
          <div class="o-video">
            <iframe src="https://www.youtube.com/embed/nwjAHQERL08?list=PLGLfVvz_LVvTn3cK5e6LjhgGiSeVlIRwt" allowfullscreen></iframe>
          </div>

        </div>


      </div>  
    </section>
    <section class="accordion">
      <h2 class="accordion__control">
        <button class="toggle " aria-expanded="false">
          Section 3
          <svg height="1em" width="1em" focusable="false" aria-hidden="true" role="img"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><title>chevron-down</title><g fill="currentColor" id="chevron-up"><path id="Path_165" data-name="Path 165" class="cls-1" d="M4.18,12.23a1.92,1.92,0,0,0-2.62,0,1.75,1.75,0,0,0-.09,2.48l.09.09,21.13,21a1.92,1.92,0,0,0,2.62,0l21.13-21a1.75,1.75,0,0,0,.09-2.48l-.09-.09a1.92,1.92,0,0,0-2.62,0L24,31.33Z"/></g></svg>
        </button>   
      </h2>  
      <div class="accordion__content" hidden>  
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur laoreet massa. Nam eu porta dolor. Vestibulum pulvinar lorem et nisl tempor lacinia.
        </p>
        <p>
          Cras mi nisl, semper ut gravida sed, vulputate vel mauris. In dignissim aliquet fermentum. Donec arcu nunc, tempor sed nunc id, dapibus ornare dolor.
        </p>
      </div>  
    </section>
    </section>


        </div>


<script>
    const accordionWrapper = document.getElementById('accordion-wrapper')
const headings = accordionWrapper.querySelectorAll('h2')

Array.prototype.forEach.call(headings, heading => {
  let btn = heading.querySelector('button')
  let target = heading.nextElementSibling

  btn.onclick = () => {
    let expanded = btn.getAttribute('aria-expanded') === 'true' || false

    btn.setAttribute('aria-expanded', !expanded)
    target.hidden = expanded
    
    heading.classList.toggle('is-open')     
  }
})()
</script>

<style>


.accordion h2 {
  font-family:'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  margin: 0.25em 0;
  width: 120%;
  margin-left:-20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.accordion h2 button {
  all: inherit;
  border-bottom: 1px solid white;
}
.accordion .toggle:focus {
  outline: 1px dotted #000;
  outline-offset: 2px;
}
.accordion .is-open button {
  border-bottom: 0;
}
.accordion .accordion__content {
  margin-bottom: 4rem;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

</style>




      </div>
  
 



<script>
    $(document).ready(function(){
	$('#menu').click(function(){
		$(this).toggleClass('open');
    $('#popup-bg').fadeToggle();
    $('#popup-nav').toggleClass('open-popup');
	});
  $('#cta-btn').click(function(){
    $('.call-to-action-popup').fadeIn();
  });
  $('#close').click(function(){
    $('.call-to-action-popup').fadeOut();
  });

});
</script>

<style>

#menu { 
  width: 25px;
  height: 18px;
  position: fixed;
  right: 0px;
  z-index: 2000;
  top: 130px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}



#menu.open {
  right: 450px;
}



#close {
  width: 25px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

#popup-bg {
  z-index: 50;
 background-color: #15123D;
 opacity: .7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#popup-nav {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 100%;
  background: #15123D;
  top: 0;
  right: -450px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 60px;
  z-index: 60;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
#popup-nav.open-popup {
  right: 0;
}


.call-to-action-popup {
  display: none;
  position: fixed;
  z-index: 100;
  background: #15123D;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  text-align: center;
}



</style>






      
    <div class="grid">
        <div class="grid-container">

              {% for db in dbs %}

<div class="card card3" style="font-family: 'Montserrat', sans-serif;">
  <div class="ch-row">
    <div class="ch-col1">
      <div class="ch-c1c1">
        {% if db.db_engine == 'mysql' %}
        MySQL
        {% elif db.db_engine == 'postgresql' %}
PostgreSQL
        {% elif db.db_engine == 'sqlite' %}
SQLite
        {% elif db.db_engine == 'mariadb' %}
MariaDB
{% endif %}


        <h5 class="label pink grey">{{ db.db_uid }}</h5>
       
      </div> 
    </div>
    <div class="ch-col2">
      {% if db.db_engine == 'mysql' %}
     <img src="https://pngimg.com/uploads/mysql/mysql_PNG1.png" width="80px" height="50px">
     {% elif db.db_engine == 'postgresql' %}
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png" width="50px" height="50px" style="margin-right: 20px;">
     {% elif db.db_engine == 'mariadb' %}
     <img src="https://www.grchive.com/assets/images/logos/mariadb.png" width="55px" height="45px" style="margin-right: 20px;">
     {% elif db.db_engine == 'sqlite' %}
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/SQLite370.svg/1280px-SQLite370.svg.png" width="80px" height="35px" style="margin-right: 10px;">

     {% endif %}
    </div>
  </div>
 
  <div class="row1">
    <div class="col1 flex-container">
      <div class="d2r1c1"><span class="caption"><h4>Link Status</h4></span><br>
      
        {% if db.link_status %}

        {% if webapplications > 0 %}
          {% for instance in instances %}
          {% if db.linked_to_node_uuid == instance.node_ID %}
            Active
          {% endif %}
        {% endfor %}
         {% else %}
       Broken Link
       {% endif %}
       
        {% else %}
      Not Linked
        {% endif %}
      
      </div>
    </div>
    <div class="col1 flex-container">
      <div class="d2r1c1"><span class="caption"><h4>Uptime</h4></span><br>4.5 hrs</div>
    </div>
    <div class="col1 flex-container">
      <div class="d2r1c1"><span class="caption"><h4>Usage</h4></span><br>$0.40</div>
    </div>
    <div class="col1 flex-container">
      <div class="d2r1c1"><span class="caption"><h4>Security Risks</h4></span><br>None</div>
    </div>
    <button class="ui blue button">
      Analytics
    </button>
    <button class="ui blue button">
      Manage
    </button>
    <button class="ui red button" style="margin-left: 560px;">
      Shut Down
    </button>
    <button class="ui red button">
      Delete
    </button>
   
  </div>
  <div class="row1 more-fields">
    <div class="accordion accordion2 col-full">
            <dl>
              <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Details</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <div class="row1">
    <div class="col1 flex-container">
      <div class="d2r1c1"><span class="caption"><h4>DB Version</h4></span><br>{{ db.db_version }}</div>
    </div>
    <div class="col1 flex-container">
      <div class="d2r1c1"><span class="caption"><h4>Linked to -</h4></span><br>{{ db.linked_to_node_uuid }}</div>
    </div>
    <div class="col1 flex-container">
      <div class="d2r1c1"><span class="caption"><h4>Hostname / IP</h4></span><br>56.541.122.215</div>
    </div>
    <div class="col1 flex-container">
      <div class="d2r1c1"><span class="caption"><h4>Load Type</h4></span><br>
        {% if db.db_load_type == 'low_load' %}
Low Load
        {% elif db.db_load_type == 'medium_load' %}
Medium Load
        {% elif db.db_load_type == 'high_load' %}
        High Load

        {% endif %}
      
      
      </div>
    </div>
  </div>
              </dd>
            </dl>
          </div>
  </div>
</div>


              {% endfor %}

        </div>
    </div>

    <style>
.row1, .ch-row {
  display: flex;
  padding:8px 8px 0 8px;
  margin-bottom:0;
  flex-wrap: wrap;
}
.ch-row {
  flex-wrap: nowrap;
  border-bottom:1px solid white;
  padding: 12px 16px;
  align-items: baseline;
}
.accordion2 .row1 {
  padding:0;
}
.row1.morefields {
  
}
.ch-col1 {
  flex:5;
}
.ch-col2 {
 
}
.ch-c1c1 {
  font-size:18px;
}
.ch-c2c1 {
  border:1px solid #ccc;
  border-radius:3px;
  padding:4px 8px;
  color: #0071CE;
}
.card3 {
  background-color: #eaedff;
  /* background-color: #dcedc8; */
  padding-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.12), 0px 1px 5px 0px rgba(0,0,0,0.14);
  margin-bottom:24px;
}

.h-c1 {
  
}
.h-c2 {
  
}
.col1 {
  width: 25%;
}
.col-full {
  width:100%;
}

@media (max-width:767px) {
  .col1 {
    width:50%;
  }
}
@media (max-width:420px) {
  .col1 {
    width:100%;
  }
}
/* second demo */

.d2r1c1, .d2r1c2, .d2r1c3, .d1r1c4 {
  flex:1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

}

.flex-container>div {
  margin:8px;
  padding:4px;
/*   border:1px solid green; */
/*   background-color: rgba(11,148,68,.10); */
}

.caption {
  font-weight: lighter;
  font-size: 10px;
  color:#6c6c6c;
  margin-bottom:4px;
  display:inline-block;
}

.card-header {
  border-bottom:1px solid #ccc;
}

//updated ver
* {
  box-sizing:border-box;
}
.heading-primary {
  font-size:14px;
  padding:12px;
  text-align:left;
}
.accordion2 dl,
.accordion-list {
/*    border:1px solid #ddd; */
  border-radius:3px;
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
       background-color:darken(#38cc70, 10%);
     }
}
.accordion2 dd,
.accordion__panel {
   background-color:#fff;
   font-size:14px;
/*    line-height:1.5em;  */
}
.accordion2 p {
/*   padding:1em 2em 1em 2em; */
}

.accordion2 {
    position:relative;
    background-color:#fff;
}
.container {
  max-width:960px;
  margin:0 auto;
  padding:2em 0 2em 0;
}
.accordionTitle,
.accordion__Heading {
 background-color:white; 
   text-align:left;
     font-weight:700; 
          padding:4px;
          display:block;
          text-decoration:none;
          color:#2c2c2c;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken(#38cc70, 5%);
  &:before {
   content: "+";
   font-size:1.5em;
   line-height:0.5em;
   float:left; 
   transition: transform 0.2s ease-in-out;
  }
  &:hover {
    background-color:darken(#38cc70, 10%);
  }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:darken(#38cc70, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.accordionItem {
    height:auto;
    overflow:hidden; 
    //SHAME: magic number to allow the accordion to animate
    
     max-height:50em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.2s
        
    }
    
   
}
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.2s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.2s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}
dd, dl {
  margin:0;
}
.accordionTitle:before, .accordion__Heading:before {
    content: url(https://www.beyondsoftware.com/hubfs/App%20icons/baseline_expand_more_black_16.png);

/*     font-size: 1.5em;
    line-height: 0.5em; */
    float: left;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transform: rotate(-90deg);
}
.accordionTitleActive:before, .accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-180deg);
    transform: rotate(0);
}
    </style>
<script>
  //uses classList, setAttribute, and querySelectorAll
//if you want this to work in IE8/9 youll need to polyfill these
(function(){
	var d = document,
	accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
	setAria,
	setAccordionAria,
	switchAccordion,
  touchSupported = ('ontouchstart' in window),
  pointerSupported = ('pointerdown' in window);
  
  skipClickDelay = function(e){
    e.preventDefault();
    e.target.click();
  }

		setAriaAttr = function(el, ariaType, newProperty){
		el.setAttribute(ariaType, newProperty);
	};
	setAccordionAria = function(el1, el2, expanded){
		switch(expanded) {
      case "true":
      	setAriaAttr(el1, 'aria-expanded', 'true');
      	setAriaAttr(el2, 'aria-hidden', 'false');
      	break;
      case "false":
      	setAriaAttr(el1, 'aria-expanded', 'false');
      	setAriaAttr(el2, 'aria-hidden', 'true');
      	break;
      default:
				break;
		}
	};
//function
switchAccordion = function(e) {
  console.log("triggered");
	e.preventDefault();
	var thisAnswer = e.target.parentNode.nextElementSibling;
	var thisQuestion = e.target;
	if(thisAnswer.classList.contains('is-collapsed')) {
		setAccordionAria(thisQuestion, thisAnswer, 'true');
	} else {
		setAccordionAria(thisQuestion, thisAnswer, 'false');
	}
  	thisQuestion.classList.toggle('is-collapsed');
  	thisQuestion.classList.toggle('is-expanded');
		thisAnswer.classList.toggle('is-collapsed');
		thisAnswer.classList.toggle('is-expanded');
 	
  	thisAnswer.classList.toggle('animateIn');
	};
	for (var i=0,len=accordionToggles.length; i<len; i++) {
		if(touchSupported) {
      accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
    }
    if(pointerSupported){
      accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
    }
    accordionToggles[i].addEventListener('click', switchAccordion, false);
  }
})();
</script>

    <style>
        .grid {

/* border: 1px solid #000; */
width:100%;
}
.grid-container {
overflow-y: auto;
overflow-x: hidden;
height: 440px;
}

    </style>
    
    <style>


.shadow-1:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
}

.shadow-1:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.card1:hover {
    cursor: pointer;
}

.card1 {
  position: relative;
  height: 100px;
  background: #fcfcfc;
  margin: 20px 40px;
  transition: 0.4s all;
}

.card1.open {
  height: 250px;
  background: #ffffff;
}

@media only screen and (min-width: 600px) {
  .card1 {
  width:600px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
  }
}

@media only screen and (max-device-width: 800px) and (orientation: portrait) {
  .card1 {
    margin: 12px 10px;
  }
}
    </style>


<script>
    $('.card1').on('click', function() {
  if ($(this).hasClass('open')) {
    $('.card1').removeClass('open');
    $('.card1').removeClass('shadow-2');
    $(this).addClass('shadow-1');
    return false;
  } else {
    $('.card1').removeClass('open');
    $('.card1').removeClass('shadow-2');
    $(this).addClass('open');
    $(this).addClass('shadow-2');
  }
});
</script>