{% extends "html/spec-comp/dashboard/index.html" %}
{% block content %}

<div class="main-content">

  

  <style>
    .hideme {
      visibility: hidden;
    }
    
    
    .myAlert-top{
        position: fixed;
        top: 50px; 
        left:30%;
        width: 50%;
        z-index: 101;
    }
    </style>
    
    
    <div class="myAlert-top alert hideme alert-warning">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     {{ message_1 }}<br/>
     <small>{{ message_2 }}</small>
    </div>



  <form method="post" enctype="multipart/form-data" action="#">
    {% csrf_token %}
    <input type="file" name="file" id="zipfile" accept=".zip,.rar,.7zip,.sql" />
    <button type="submit" onclick="dothis();">Upload</button>
  </form>


</div>

<script>
function dothis(){
  var one = document.getElementById('zipfile').value.split(':')[1].split('.')[0].split('\\')
var package_name = one[one.length-1];
var package_type = document.getElementById('zipfile').value.split(':')[1].split('.')[1];
}
</script>

</div>


{% endblock %}