{% extends "html/spec-comp/dashboard/index.html" %}
{% block content %}



<style>
  .hideme {
    visibility: hidden;
  }
  
  
  .myAlert-top{
      position: fixed;
      top: 50px; 
      left:30%;
      width: 50%;
      z-index: 101;
  }
  </style>
  
  
  <div class="myAlert-top alert hideme alert-danger" id="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<a href="#" class="writehere" style="text-decoration: none;">

</a>
<br/>  
<a href="#" class="writehere2link">
<small class="writehere2"></small>
</a>
  </div>





<div class="main-content">

  <div class="ui one column grid m-4">
    <div class="sixteen wide column">
      <h1 style="font-weight: 1;">Upload Project</h1>
      <br/>
      <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 relative">
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5">
          
          <div class="flex items-start border shadow-lg p-2">
            <a href="#" class="inline-block mr-2"><div class="w-20 h-20 bg-cover bg-center" style="background-image:url(https://media.gettyimages.com/photos/cristiano-ronaldo-of-juventus-fc-looks-dejected-during-the-uefa-of-picture-id1227967060?k=6&m=1227967060&s=612x612&w=0&h=cMSMlRyI6YAzcE_C2KgHGRLeVojHYoUhIvhwPBYv8f4=);"></div></a>
            <div class="text-sm w-2/3">
              <a href="#" class="text-gray-900 font-medium hover:text-indigo-600 leading-none">Cristiano Ronaldo of Juventus FC looks dejected during the...</a>
              <p class="text-gray-600 text-xs">Aug 18</p>
            </div>
          </div>
          <div class="flex items-start border shadow-lg p-2">
            <a href="#" class="inline-block mr-2"><div class="w-20 h-20 bg-cover bg-center" style="background-image:url(https://media.gettyimages.com/photos/cristiano-ronaldo-of-juventus-reacts-during-the-uefa-champions-league-picture-id1264546157?k=6&m=1264546157&s=612x612&w=0&h=LlY_gF4hYuRI68Btvq0tK0FcZDNIsJyEyaLaZV2Hi-M=);"></div></a>
            <div class="text-sm w-2/3">
              <a href="#" class="text-gray-900 font-medium hover:text-indigo-600 leading-none">Juventus v Olympique Lyon</a>
              <p class="text-gray-600 text-xs">May 18</p>
            </div>
          </div>
          <div class="flex items-start border shadow-lg p-2">
            <a href="#" class="inline-block mr-2"><div class="w-20 h-20 bg-cover bg-center" style="background-image:url(https://media.gettyimages.com/photos/adrien-rabiot-of-juventus-speaks-with-cristiano-ronaldo-of-juventus-picture-id1264539015?k=6&m=1264539015&s=612x612&w=0&h=brdyoxRVlVgTXtkOJstPpuQIQe-jh6HkN2ZEZbvknKg=);"></div></a>
            <div class="text-sm w-2/3">
              <a href="#" class="text-gray-900 font-medium hover:text-indigo-600 leading-none">Juventus v Olympique Lyon - UEFA Champions League</a>
              <p class="text-gray-600 text-xs">Aug 18</p>
            </div>
          </div>
          <div class="flex items-start border shadow-lg p-2">
            <a href="#" class="inline-block mr-2"><div class="w-20 h-20 bg-cover bg-center" style="background-image:url(https://media.gettyimages.com/photos/lionel-messi-and-marcandre-ter-stegen-of-fc-barcelona-waits-in-the-picture-id1266763488?k=6&m=1266763488&s=612x612&w=0&h=8vxz9HfQVfrff5N7d1lBVxtLamRQGK3J3lyHkUuuIiw=);"></div></a>
            <div class="text-sm w-2/3">
              <a href="#" class="text-gray-900 font-medium hover:text-indigo-600 leading-none">Barcelona v Bayern Munich </a>
              <p class="text-gray-600 text-xs">Jan 18</p>
            </div>
          </div>
          <div class="flex items-start border shadow-lg p-2">
            <a href="#" class="inline-block mr-2"><div class="w-20 h-20 bg-cover bg-center" style="background-image:url(https://media.gettyimages.com/photos/lionel-messi-of-fc-barcelona-looks-dejected-following-his-teams-in-picture-id1266341828?k=6&m=1266341828&s=612x612&w=0&h=FZi-bSrIlOEE01780h79GsbBYPqZo2l3aaCxoktWADY=);"></div></a>
            <div class="text-sm w-2/3">
              <a href="#" class="text-gray-900 font-medium hover:text-indigo-600 leading-none">Barcelona v Bayern Munich - UEFA Champions League </a>
              <p class="text-gray-600 text-xs">July 23</p>
            </div>
          </div>
          <div class="flex items-start border shadow-lg p-2">
            <a href="#" class="inline-block mr-2"><div class="w-20 h-20 bg-cover bg-center" style="background-image:url(https://media.gettyimages.com/photos/lionel-messi-of-fc-barcelona-looks-dejected-during-the-uefa-champions-picture-id1266335724?k=6&m=1266335724&s=612x612&w=0&h=OyTJElOYowJlOiCg25MfiG6B-g2ctEjzDdvfCMF44mY=);"></div></a>
            <div class="text-sm w-2/3">
              <a href="#" class="text-gray-900 font-medium hover:text-indigo-600 leading-none">Lionel Messi -Best Images</a>
              <p class="text-gray-600 text-xs">Aug 18</p>
            </div>
          </div>
          
        </div>
      </div>
      
      
      {% if db_files %}
      {% for app in db_files %}

      <p>This is {{ app.file_name }}</p>

      {% endfor %}


   {% endif %}
      <br/>
      <br/>
 




<div class="ui three top attached steps" style="margin-bottom: 20px;">
  <div class="step ">
    <i class="upload cloud icon"></i>
    <div class="content ">
      <div class="title">Upload</div>
      <div class="description">Upload a Database file or Web Application Project</div>
    </div>
  </div>
  <div class=" step">
    <i class="linkify icon"></i>
    <div class="content">
      <div class="title">Link</div>
      <div class="description">Link your Project or Database file with a container.</div>
    </div>
  </div>
  <div class=" step">
    <i class="arrow circle up icon"></i>
    <div class="content">
      <div class="title">Deploy</div>
      <div class="description">Let the world see your awesome project.</div>
    </div>
  </div>
</div>

<form method="post" enctype="multipart/form-data" action="#">
        {% csrf_token %}
        <!-- <input type="file" name="file" id="zipfile" accept=".zip,.rar,.7zip,.sql,.tar.gz,.tar" /> -->
        <!-- <button type="submit">Upload</button> -->

  <div class="drop-zone" style="z-index: -5;">



    
   
    <input type="file" name="myfile" class="drop-zone__input" id="zipfile" accept=".zip,.rar,.7zip,.sql,.tar.gz,.tar,.sql">

    

    <div class="ui  grid">





    <div class="row centered" style="margin-top: 30px;">
      <img src="https://image.flaticon.com/icons/svg/101/101314.svg" width="200px">
    </div>



    <div class="row centered" >
      <h2>Drag and Drop or click to browse</h2>
    </div>


    <div class="row centered" style="margin-top: -30px;">
      <h4>(.zip, .rar, .7zip, .tar.gz, .tar)</h4>
    </div>


    <div class="row centered">
      <h2 class="namehere"></h2>
    </div>


  </div>


  

</div>



<div class="progress" style="height: 5px;">
  <div id="progressbar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

    </div>


    <div class="sixteen wide column">

    <div class="ui  grid">



      <div class="row centered">

        <button class="ui green loading button disabled" type="submit" id="submit_btn" >
          <i class="cloud upload icon"></i>
          Upload
        </button>



      </div>
  
    </div>
  
     
    </div>

  
  </div>
  

</form>



</div>





<script>
$(".namehere").hide();
  document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
  const dropZoneElement = inputElement.closest(".drop-zone");

  dropZoneElement.addEventListener("click", (e) => {
    inputElement.click();
  });

  inputElement.addEventListener("change", (e) => {
    if (inputElement.files.length) {
      var one = document.getElementById('zipfile').value.split(':')[1].split('.')[0].split('\\')
      var two = document.getElementById('zipfile').value.split(':')[1].split('\\');
      window.package_name = one[one.length-1];
      window.package_type = document.getElementById('zipfile').value.split(':')[1].split('.')[1];
      $(".namehere").text(two[two.length-1]);
      $(".namehere").fadeIn();

    }
  });

  dropZoneElement.addEventListener("dragover", (e) => {
    e.preventDefault();
    dropZoneElement.classList.add("drop-zone--over");
  });

  ["dragleave", "dragend"].forEach((type) => {
    dropZoneElement.addEventListener(type, (e) => {
      dropZoneElement.classList.remove("drop-zone--over");
    });
  });

  dropZoneElement.addEventListener("drop", (e) => {
    e.preventDefault();

    if (e.dataTransfer.files.length) {
      inputElement.files = e.dataTransfer.files;
      updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
    }

    dropZoneElement.classList.remove("drop-zone--over");
  });
});

/**
 * Updates the thumbnail on a drop zone element.
 *
 * @param {HTMLElement} dropZoneElement
 * @param {File} file
 */
function updateThumbnail(dropZoneElement, file) {
  let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

  // First time - remove the prompt
  if (dropZoneElement.querySelector(".drop-zone__prompt")) {
    dropZoneElement.querySelector(".drop-zone__prompt").remove();
  }

  // First time - there is no thumbnail element, so lets create it
  if (!thumbnailElement) {
    thumbnailElement = document.createElement("div");
    thumbnailElement.classList.add("drop-zone__thumb");
    dropZoneElement.appendChild(thumbnailElement);
  }

  thumbnailElement.dataset.label = file.name;

  // Show thumbnail for image files
  if (file.type.startsWith("image/")) {
    const reader = new FileReader();

    reader.readAsDataURL(file);
    reader.onload = () => {
      thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
    };
  } else {
    thumbnailElement.style.backgroundImage = null;
  }
}

</script>


<style>
  .drop-zone {
  max-width: 100%;
  
  height: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed #dce0e0;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

</style>

<script>
  $(document).ready(function() {
    $(".progress").hide();
    document.getElementById("submit_btn").style='opacity: 1 !important';
    $("#submit_btn").addClass('loading');


        $('input:file').change(
            function(){
                if ($(this).val()) {
                  $("#submit_btn").removeClass('disabled');
                    $("#submit_btn").removeClass('loading');
                    // or, as has been pointed out elsewhere:
                    // $('input:submit').removeAttr('disabled'); 
                } 
            }
            );



accepted_types = ['zip', '7zip', 'rar', 'tar.gz', 'tar', 'sql'];

$('form').on('submit', function(event){


if (!$("#zipfile").val()){
  location.reload(); 
}

if (accepted_types.includes(window.package_type) == false){
  $('#alert').removeClass('hideme');
    $( ".writehere" ).html( 'That file type Is not supported.' );
  return false;
}

else {
  $('#alert').fadeOut;
  
}

event.preventDefault();

$(".progress").fadeIn();

var formData = new FormData($('form')[0]);
$.ajax({
xhr: function(){
var xhr = new window.XMLHttpRequest();
xhr.upload.addEventListener('progress', function(e){
if (e.lengthComputable){
  // console.log('Bytes Loaded: ' + e.loaded);
  // console.log('Total Size: ' + e.total);
  // console.log('Percentage Uploadeed: ' + (e.loaded / e.total));

  var percent = Math.round((e.loaded / e.total) * 100);

  $('#progressbar').attr('aria-valuenow', percent).css('width', percent + '%');
  
  }

 
});


return xhr;

},
type : 'POST',
url: 'http://localhost:8000/dashboard/warehouse/',
data: formData,
processData: false,
contentType: false,
success: function(data1){
  
if (data1 == 'false'){
  $('#alert').removeClass('hideme');
    $( ".writehere" ).html( 'That file type Is not supported.' );
}
else if (data1 == 'true'){
  $('#alert').addClass('hideme');
  location.reload();
}
}
});

});







  // $('#zipfile').on('change', function(evt) {
  //   var mb = 1000000
  //   var file_size = this.files[0].size
  //   console.log((file_size/mb).toPrecision(5) + ' Mb');
  // });
});


</script>



</div>


{% endblock %}