<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> PepperSpice | Home</title>
  {% load static %}
  {% include 'html/gen-comp/headers.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}">
</head>




<body>

  
  <div class="tobeblurred">
 
  
   {% include 'html/gen-comp/navbar2.html' %}



      <head>
         <meta charset=utf-8 />
         <meta content="The Bedtime Story App for Families! Awaken the inner storyteller with diverse and empowering stories for young & old. Storytelling has never been easier." name=description />
         <meta content="bedtime, bedtime stories, storytelling, kids, children, education, goodnight story" name=keywords />
         <meta name=author />
         <meta name=publisher />
         <meta name=copyright />
         <meta content="bedtime, bedtime stories, storytelling, kids, children, education, goodnight story" name=robots />
         <meta content="index, follow" name=robots />
         <meta content=all name=robots />
         <meta content="width=device-width, initial-scale=1.0" name=viewport />
         <meta content=DnAgNBfxpCuaPFkJ0AYg7vsZ1mogjVXatOQYtHnUZjo name=google-site-verification />
         <link href="/assets/images/favicon-cc041e2e.png?1588602936" rel=icon type="image/png"/>
         <meta content="Bedtime Stories - Exciting Tales for Young & Old – Bedtime Stories" itemprop=name />
         <meta content="The Bedtime Story App for Families! Awaken the inner storyteller with diverse and empowering stories for young & old. Storytelling has never been easier." itemprop=description />
         <meta content="https://getbedtimestories.com/assets/images/share/share-36ccaab1.png" itemprop=image />
         <meta content=company property="og:type"/>
         <meta content="https://getbedtimestories.com/" property="og:url"/>
         <meta content="Bedtime Stories" property="og:site_name"/>
         <meta content="Bedtime Stories - Exciting Tales for Young & Old – Bedtime Stories" property="og:title"/>
         <meta content="The Bedtime Story App for Families! Awaken the inner storyteller with diverse and empowering stories for young & old. Storytelling has never been easier." property="og:description"/>
         <meta content="https://getbedtimestories.com/assets/images/share/share-36ccaab1.png" property="og:image"/>
         <meta property="og:locale"/>
         <meta content=1180441035357755 property="fb:app_id"/>
         <meta content=1180441035357755 property="fb:pages"/>
         <meta content=summary_large_image name="twitter:card"/>
         <meta content="https://getbedtimestories.com/" name="twitter:url"/>
         <meta content="Bedtime Stories - Exciting Tales for Young & Old – Bedtime Stories" name="twitter:title"/>
         <meta content="The Bedtime Story App for Families! Awaken the inner storyteller with diverse and empowering stories for young & old. Storytelling has never been easier." name="twitter:description"/>
         <meta content="https://getbedtimestories.com/assets/images/share/share-36ccaab1.png" name="twitter:image"/>
         <meta content="@getbedtimestory" name="twitter:site"/>
         <meta content="app-id=1231933548" name=apple-itunes-app />
         <link href="//www.google-analytics.com" rel=dns-prefetch />
         <link href="/assets/stylesheets/application-11ce26b2.css?1588602936" rel=stylesheet />
      </head>
      <body>
         <div class=app-container>
            <main class=app-content>
               <section class="section is-hero">
                  <div class=container>
                     <div class="columns is-vcentered">
                        <div class="column is-6">
                            <div class=section-media>
                               <img  role=presentation src="https://cdn.dribbble.com/users/1068771/screenshots/10471678/media/bbc88ecd8cafffa66996e922c720eb3f.jpg" srcset=" https://cdn.dribbble.com/users/1068771/screenshots/10471678/media/bbc88ecd8cafffa66996e922c720eb3f.jpg 1x, /assets/images/hero/Hero-Karlotta@2x-cc57e26e.jpg?1588602936 2x"/> 
                            </div>
                         </div>

 
                        <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
                           <div class=section-header>
                              <h1 class="title is-spaced" style="font-size: 50px; color: #ec3550;"> 30 Seconds<span class=is-hidden-touch><br></span></h1>
                              <h2 class="subtitle is-3"> We know you have deadlines. Try out PepperSpice for 31 days, free.</h2>
                              <!-- <h2 class="subtitle is-3"> Grow at the speed of light.</h2> -->
                              <div class="field is-grouped">
                                 <div class=control> <a class="button is-black is-medium" href="#platform">How does it work?</a> </div>
                                 <div class=control> <a class="button  is-medium" href="/library">Examples</a> </div>
                              </div>
                             
                           </div>
                        </div>
                       
                     </div>
                  </div>
               </section>

             


               <div class="tab-pane" id="pane-3" style="display: block;">
                  <div class="columns">
                      <div class="container">
                          <div class="columns">
                              <div class="column">
                                  <article class="media">
                                      <div class="media-left">
                                       <img src="https://www.flaticon.com/svg/static/icons/svg/2972/2972554.svg" width="100">
                                      </div>
                                      <div class="media-content">
                                          <div class="content">
                                              <p>
                                                  <strong>Time Flies</strong>
                                                  <br>We made a promise, 30 seconds to deploy anything. Time Is most valuable at all times.
                                              </p>
                                          </div>
                                      </div>
                                  </article>
                                  <article class="media">
                                      <div class="media-left">
                                       <img src="https://www.flaticon.com/svg/static/icons/svg/1055/1055660.svg" width="100">
                                      </div>
                                      <div class="media-content">
                                          <div class="content">
                                              <p>
                                                  <strong>Secure at all times</strong>
                                                  <br> Experience the next level of network and application level security. See AI do It's magic while protecting your most valuable assets. 
                                              </p>
                                          </div>
                                      </div>
                                  </article>
                              </div>
                              <div class="column">
                                  <article class="media">
                                      <div class="media-left">
                                       <img src="https://www.flaticon.com/svg/static/icons/svg/2405/2405970.svg" width="100">
                                      </div>
                                      <div class="media-content">
                                          <div class="content">
                                              <p>
                                                  <strong>Efficient Storage</strong>
                                                  <br> Capable of handling real-time interactions. Do whatever you like, anytime.
                                              </p>
                                          </div>
                                      </div>
                                  </article>
                                  <article class="media">
                                      <div class="media-left">
                                       <img src="https://www.flaticon.com/svg/static/icons/svg/2835/2835538.svg" width="100">
                                      </div>
                                      <div class="media-content">
                                          <div class="content">
                                              <p>
                                                  <strong>Lowest Costs</strong>
                                                  <br> Try out PepperSpice with the lowest costs you will find. We support minimalistic projects with free resources.
                                              </p>
                                          </div>
                                      </div>
                                  </article>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              
              <section class="container">
               <div class="columns is-multiline">
                 <div class="column is-12 ">
                   <div class="columns">
                     <div class="column left">
                       <h1 class="title is-2">We are here for All.</h1>
                       <h2 class="subtitle colored is-4">Supporting Startups and Businesses.</h2>
                       <p>Learn how we manage to support Startups and Businesses grow faster, by using valuable communication and excellent services.</p>
                     </div>
                     <div class="column right has-text-centered">
                        <div class="intro-column is-video">
                           <div id="introVideo" class="intro-video has-loaded">
                             <div class="intro-shadow"></div>
                             <div class="intro-spinner"></div>
                             <div class="intro-iframe">
                               <iframe id="introIframe" src="https://player.vimeo.com/video/76979871" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-vimeo-tracked="true" data-ready="true" width="640" height="338" frameborder="0"></iframe>
                             </div>
                           </div>
                        
                         </div>
                     </div>
                   </div>
                 </div>
                 
               </div>
             </section>


              <style>
                :root {
                  --brandColor: hsl(166, 67%, 51%);
                  --background: rgb(247, 247, 247);
                  --textDark: hsla(0, 0%, 0%, 0.66);
                  --textLight: hsla(0, 0%, 0%, 0.33);
                }
      
            
                .field:not(:last-child) {
                  margin-bottom: 1rem;
                }
            
                .register {
                  margin-top: 10rem;
                  background: white;
                  border-radius: 10px;
                }
            
                .left,
                .right {
                  padding: 4.5rem;
                }
            
                .left {
                  border-right: 5px solid var(--background);
                }
            
                .left .title {
                  font-weight: 800;
                  letter-spacing: -2px;
                }
            
                .left .colored {
                  color: var(--brandColor);
                  font-weight: 500;
                  margin-top: 1rem !important;
                  letter-spacing: -1px;
                }
            
                .left p {
                  color: var(--textLight);
                  font-size: 1.15rem;
                }
            
                .right .title {
                  font-weight: 800;
                  letter-spacing: -1px;
                }
            
                .right .description {
                  margin-top: 1rem;
                  margin-bottom: 1rem !important;
                  color: var(--textLight);
                  font-size: 1.15rem;
                }
            
                .right small {
                  color: var(--textLight);
                }
            
                input {
                  font-size: 1rem;
                }
            
                input:focus {
                  border-color: var(--brandColor) !important;
                  box-shadow: 0 0 0 1px var(--brandColor) !important;
                }
            
                .fab,
                .fas {
                  color: var(--textLight);
                  margin-right: 1rem;
                }
            
              </style>
          
          







       








               
          
               <section class="section is-platform is-medium" id=platform>
                  <div class=container>
                     <div class="columns is-centered">
                        <div class="column is-12 is-10-fullhd">
                           <div class="columns is-vcentered">
                              <div class="column is-6">
                                 <div class=section-header>
                                    <h2 class="title is-2 is-spaced"> A platform for families </h2>
                                    <p class="subtitle is-4"> We deeply care about captivating stories - Bedtime Stories is built to help you tell better stories and helps you engage with your family through storytelling. </p>
                                    <hr class="spacer is-2"/>
                                 </div>
                                 <div class=section-body>
                                    <div class=vertical-tabs>
                                       <a class="tab is-active" data-anchor="step#explore" href="#">
                                          <h3 class="title is-4"> Growing collection of Storyworlds </h3>
                                          <p class=subtitle> Explore exciting Storyworlds in every imaginable genre for storytellers, readers and listeners from young to old. </p>
                                       </a>
                                       <a class=tab data-anchor="step#storyworld" href="#">
                                          <h3 class="title is-4"> Stories to fall in love with </h3>
                                          <p class=subtitle> Storyworlds are growing collections of thematically-related stories written by authors from around the world. </p>
                                       </a>
                                       <a class=tab data-anchor="step#school" href="#">
                                          <h3 class="title is-4"> Become a better storyteller </h3>
                                          <p class=subtitle> Join the Storytelling School for families to learn important storytelling techniques. </p>
                                       </a>
                                       <a class=tab data-anchor="step#storybuilder" href="#">
                                          <h3 class="title is-4"> Endless source of storylines </h3>
                                          <p class=subtitle> Interactively create your very own adventures - generate millions of hilarious stories in your genre of choice. </p>
                                       </a>
                                    </div>
                                    <hr class="spacer is-3"/>
                                    <a href="https://itunes.apple.com/us/app/bedtime-stories-read-tell/id1231933548" class="app-store-badge is-large" target=_blank> <img role=presentation src="/assets/images/icons/app-store-badge-52d5e257.svg?1588602936"/></a> 
                                 </div>
                              </div>
                              <div class="column is-6 align-self-stretch">
                                 <div class=section-media>
                                    <div class=screens>
                                       <div class="screen is-active" data-source="step#explore"> <img role=presentation src="/assets/images/screens/explore-9329da4f.jpg?1588602936"/> </div>
                                       <div class=screen data-source="step#storyworld"> <img role=presentation src="/assets/images/screens/storyworld-7cd8009d.jpg?1588602936"/> </div>
                                       <div class=screen data-source="step#school"> <img role=presentation src="/assets/images/screens/school-4f61a1d2.jpg?1588602936"/> </div>
                                       <div class=screen data-source="step#storybuilder"> <img role=presentation src="/assets/images/screens/storybuilder-f4c962f6.jpg?1588602936"/> </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>















               <section class="hero section is-hero is-warning">
                  <div class=container>
                     <div class="columns is-vcentered">
                        <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
                           <div class=section-header>
                              <h2 class="title is-2 is-spaced"> Become a better storyteller<span class="spacer is-horizontal is-05"></span><span class="tag is-white">New</span> </h2>
                              <h2 class="subtitle is-4"> Join world's first Storytelling School for Families! Learn everything about stories and how to tell them. For free in our app! </h2>
                              <div class="field is-grouped">
                                 <div class=control> <a class="button is-white is-medium" href="/school">🎓 Explore our courses</a> </div>
                              </div>
                           </div>
                        </div>
                        <div class="column is-6">
                           <div class=section-media>
                              <img class=full-width role=presentation src="/assets/images/school/school-933bc224.svg?1588602936"/> 
                              <p> <small>Join our Storytelling School for Families.</small> </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="section is-library-teaser has-background is-medium">
                  <div class=container>
                     <div class="section-header has-text-centered">
                        <h2 class="title is-1 is-spaced"> Your favorite bedtime stories to fall in love with </h2>
                        <h3 class="subtitle is-4"> To really encourage storytelling and reading, you have to fall in love with the characters and the story. We will provide a constant stream of exciting new Storyworlds in every imaginable genre - falling in love guaranteed! </h3>
                        <div class=counter>
                           <div class=counter-item>
                              <div class=counter-number> 22<small>x</small> </div>
                              <div class=counter-label> Storyworlds </div>
                           </div>
                           <div class=counter-item>
                              <div class=counter-number> 110<small>x</small> </div>
                              <div class=counter-label> Stories </div>
                           </div>
                           <div class=counter-item>
                              <div class=counter-number> 24.4<small>h</small> </div>
                              <div class=counter-label> of Storytime </div>
                           </div>
                           <div class=counter-item>
                              <div class=counter-number> 50<small>M+</small> </div>
                              <div class=counter-label> possible stories </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="container is-fluid">
                     <div class=section-body>
                        <div class=is-hidden-tablet>
                           <div class="columns is-mobile">
                              <div class="column is-6 is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/tate-s-time-traveling-top" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/20/large_3b710db6-f1d3-431b-afe0-ab6e51bfa0b5-bcea49c8.jpg?1588602936); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/tate-s-time-traveling-top">
                                          <div class=card-title> Tate’s Time Traveling Top </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="column is-6 is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/bouncy-bo" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/29/large_56d2be29-80c8-424d-9899-5e03bf65a1cd-10005b82.jpg?1588602936); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/bouncy-bo">
                                          <div class=card-title> Bouncy Bo </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="column is-6 is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/bushveld-trio-s-wild-adventures" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/27/large_5ef49b88-601b-4a44-bec7-4fd40db8c8ff-1f8c86fc.jpg?1588602936); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/bushveld-trio-s-wild-adventures">
                                          <div class=card-title> Bushveld Trio’s Wild Adventures </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="column is-6 is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/carter-the-cedar-forest-critters" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/11/large_990b6d82-b572-43ac-9742-6fe6a1ee1e07-dffc86d0.jpg?1588602936); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/carter-the-cedar-forest-critters">
                                          <div class=card-title> Carter & the Cedar Forest Critters </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="column is-6 is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/rowena-the-witch-doctor" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/10/large_65e17b11-398b-4bba-bbae-2a9675b7e460-3f6a4168.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/rowena-the-witch-doctor">
                                          <div class=card-title> Rowena the Witch Doctor </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="column is-6 is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/nikki-the-long-lost-treasure" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/6/large_5b45e687-80f9-41a3-b57e-35d55147742a-44352848.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/nikki-the-long-lost-treasure">
                                          <div class=card-title> Nikki & the Long Lost Treasure </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="column is-6 is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/brenda-and-her-big-dog-duke" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/18/large_ed44870a-9fd0-4bd9-8add-69da0aa1b52b-00a0bbdb.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/brenda-and-her-big-dog-duke">
                                          <div class=card-title> Brenda and her Big Dog Duke </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="column is-6 is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/karlotta-the-knight" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/2/large_a9ff10d3-a8c7-415f-9a54-ed318874e4b6-a5f5ed13.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/karlotta-the-knight">
                                          <div class=card-title> Karlotta the Knight </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class=is-hidden-mobile>
                           <div class=columns>
                              <div class="column is-5-tablet is-4-desktop is-3-fullhd is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/tate-s-time-traveling-top" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/20/large_3b710db6-f1d3-431b-afe0-ab6e51bfa0b5-bcea49c8.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/tate-s-time-traveling-top">
                                          <div class=card-title> Tate’s Time Traveling Top </div>
                                       </a>
                                       <div class=card-description>
                                          <p>Tate, a young boy on the autism spectrum, loves watching tops spin. One day, he realizes that watching them takes him into a different world.</p>
                                       </div>
                                    </div>
                                    <div class=card-footer> <a class="button is-primary is-outlined" href="/library/tate-s-time-traveling-top">Read now</a> </div>
                                 </div>
                              </div>
                              <div class="column is-5-tablet is-4-desktop is-3-fullhd is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/bouncy-bo" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/29/large_56d2be29-80c8-424d-9899-5e03bf65a1cd-10005b82.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/bouncy-bo">
                                          <div class=card-title> Bouncy Bo </div>
                                       </a>
                                       <div class=card-description>
                                          <p>Little Bo dreams of becoming a super strong gymnast, but the road there is long and windy and has many ups and downs. But that&#x27;s its beauty.</p>
                                       </div>
                                    </div>
                                    <div class=card-footer> <a class="button is-primary is-outlined" href="/library/bouncy-bo">Read now</a> </div>
                                 </div>
                              </div>
                              <div class="column is-5-tablet is-4-desktop is-3-fullhd is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/bushveld-trio-s-wild-adventures" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/27/large_5ef49b88-601b-4a44-bec7-4fd40db8c8ff-1f8c86fc.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/bushveld-trio-s-wild-adventures">
                                          <div class=card-title> Bushveld Trio’s Wild Adventures </div>
                                       </a>
                                       <div class=card-description>
                                          <p>Join Shaka the honey badger, Zolo the hoopoe, and Lwazi the pangolin, as they go on adventures through the African bush helping others.</p>
                                       </div>
                                    </div>
                                    <div class=card-footer> <a class="button is-primary is-outlined" href="/library/bushveld-trio-s-wild-adventures">Read now</a> </div>
                                 </div>
                              </div>
                              <div class="column is-5-tablet is-4-desktop is-3-fullhd is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/carter-the-cedar-forest-critters" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/11/large_990b6d82-b572-43ac-9742-6fe6a1ee1e07-dffc86d0.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/carter-the-cedar-forest-critters">
                                          <div class=card-title> Carter & the Cedar Forest Critters </div>
                                       </a>
                                       <div class=card-description>
                                          <p>With the help of a magical walking stick, Carter develops a friendship with the feathered and furry critters of Cedar Forest.</p>
                                       </div>
                                    </div>
                                    <div class=card-footer> <a class="button is-primary is-outlined" href="/library/carter-the-cedar-forest-critters">Read now</a> </div>
                                 </div>
                              </div>
                              <div class="column is-5-tablet is-4-desktop is-3-fullhd is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/rowena-the-witch-doctor" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/10/large_65e17b11-398b-4bba-bbae-2a9675b7e460-3f6a4168.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/rowena-the-witch-doctor">
                                          <div class=card-title> Rowena the Witch Doctor </div>
                                       </a>
                                       <div class=card-description>
                                          <p>What can Rowena do when she’s the clumsiest graduate of witch school? Stumble into a magical new job, of course!</p>
                                       </div>
                                    </div>
                                    <div class=card-footer> <a class="button is-primary is-outlined" href="/library/rowena-the-witch-doctor">Read now</a> </div>
                                 </div>
                              </div>
                              <div class="column is-5-tablet is-4-desktop is-3-fullhd is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/nikki-the-long-lost-treasure" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/6/large_5b45e687-80f9-41a3-b57e-35d55147742a-44352848.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/nikki-the-long-lost-treasure">
                                          <div class=card-title> Nikki & the Long Lost Treasure </div>
                                       </a>
                                       <div class=card-description>
                                          <p>Nikki and Boltran search for the long-lost treasures of the old kingdom and neither giants nor sea beasts can stop them.</p>
                                       </div>
                                    </div>
                                    <div class=card-footer> <a class="button is-primary is-outlined" href="/library/nikki-the-long-lost-treasure">Read now</a> </div>
                                 </div>
                              </div>
                              <div class="column is-5-tablet is-4-desktop is-3-fullhd is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/brenda-and-her-big-dog-duke" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/18/large_ed44870a-9fd0-4bd9-8add-69da0aa1b52b-00a0bbdb.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/brenda-and-her-big-dog-duke">
                                          <div class=card-title> Brenda and her Big Dog Duke </div>
                                       </a>
                                       <div class=card-description>
                                          <p>When Brenda&#x27;s family moves to the country, her wish for a pet comes true. But her big dog, Duke, is a bit more than she can handle.</p>
                                       </div>
                                    </div>
                                    <div class=card-footer> <a class="button is-primary is-outlined" href="/library/brenda-and-her-big-dog-duke">Read now</a> </div>
                                 </div>
                              </div>
                              <div class="column is-5-tablet is-4-desktop is-3-fullhd is-flex">
                                 <div class="card is-storyworld">
                                    <a href="/library/karlotta-the-knight" class=card-header>
                                       <div class=card-image style="background-image: url(/assets/images/uploads/story_world/cover/2/large_a9ff10d3-a8c7-415f-9a54-ed318874e4b6-a5f5ed13.jpg?1588602937); "></div>
                                    </a>
                                    <div class=card-body>
                                       <a href="/library/karlotta-the-knight">
                                          <div class=card-title> Karlotta the Knight </div>
                                       </a>
                                       <div class=card-description>
                                          <p>Lottie is the bravest knight in the kingdom – but no one must ever know. Girls are princesses and wear pink dresses, right?</p>
                                       </div>
                                    </div>
                                    <div class=card-footer> <a class="button is-primary is-outlined" href="/library/karlotta-the-knight">Read now</a> </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class=container>
                     <div class="section-footer has-text-centered">
                        <a class="button is-primary is-medium" href="/library">Browse our library</a> 
                        <hr class="spacer is-1"/>
                        <p> <i class="icon icon-bell"></i><span>We’re releasing new Storyworlds <u>every two weeks</u>.</span> </p>
                     </div>
                  </div>
               </section>
               <section class="section is-storybuilder is-medium">
                  <div class=container>
                     <div class="columns is-centered">
                        <div class="column is-12 is-10-fullhd">
                           <div class="columns is-vcentered">
                              <div class="column is-6">
                                 <div class=section-header>
                                    <h2 class="title is-2 is-spaced"> Perpetual Story Machine </h2>
                                    <h3 class="subtitle is-4"> The benefits of free storytelling go far beyond “the moral of the story” - <span class=has-highlight>whenever you tell a story, you stimulate imagination and encourage creative thinking</span>. </h3>
                                    <h3 class="subtitle is-4"> When you create the story as you go, you can steer the story and even become a character in a world you build together - that makes your family active participants of the narrative! </h3>
                                    <h3 class="subtitle is-4"> Reading helps build literacy skills, telling stories helps build those skills and put them into practice. </h3>
                                    <hr class="spacer is-2"/>
                                 </div>
                              </div>
                              <div class="column is-6">
                                 <div class=section-media>
                                    <div class=storybuilder>
                                       <div class=story-item>
                                          <div class=story-body>
                                             <div class=story-caption> Once upon a time </div>
                                             <div class=story-subject> Sheriff Cleese </div>
                                          </div>
                                          <div class=story-icon> <img alt="Sheriff Cleese" src="/assets/images/storybuilder/bad-gnome-90728b11.png?1588602937"/> </div>
                                       </div>
                                       <div class=story-item>
                                          <div class=story-body>
                                             <div class=story-caption> Who is in trouble? </div>
                                             <div class=story-subject> Rodney the Astronaut </div>
                                          </div>
                                          <div class=story-icon> <img alt="Rodney the Astronaut" src="/assets/images/storybuilder/flying-trout-094f5adc.png?1588602937"/> </div>
                                       </div>
                                       <div class=story-item>
                                          <div class=story-body>
                                             <div class=story-caption> What caused the trouble? </div>
                                             <div class=story-subject> Mysterious Bottle </div>
                                          </div>
                                          <div class=story-icon> <img alt="Mysterious Bottle" src="/assets/images/storybuilder/orb-wand-fb37e474.png?1588602937"/> </div>
                                       </div>
                                       <div class=story-item>
                                          <div class=story-body>
                                             <div class=story-caption> What will help? </div>
                                             <div class=story-subject> Invisibility Mask </div>
                                          </div>
                                          <div class=story-icon> <img alt="Invisibility Mask" src="/assets/images/storybuilder/holy-oak-112e8e72.png?1588602937"/> </div>
                                       </div>
                                       <div class=story-item>
                                          <div class=story-body>
                                             <div class=story-caption> Trouble solved with? </div>
                                             <div class=story-subject> Giraffe </div>
                                          </div>
                                          <div class=story-icon> <img alt=Giraffe src="/assets/images/storybuilder/brutal-helm-efc473f4.png?1588602937"/> </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <div class="hero is-primary is-bold">
                  <div class=hero-body>
                     <div class=container>
                        <div class="columns is-centered">
                           <div class="column is-12 is-10-fullhd">
                              <div class="columns is-vcentered">
                                 <div class="column is-half">
                                    <div class=title> 📬 Newsletter </div>
                                    <div class=subtitle> Receive and feature updates must-read articles </div>
                                 </div>
                                 <div class="column is-half">
                                    <form action="//getbedtimestories.us15.list-manage.com/subscribe/post?u=53631bf5dc7e894054ae15edf&amp;id=0a862d88fd" method=post target=_blank validate="">
                                       <input class=is-hidden name=b_53631bf5dc7e894054ae15edf_0a862d88fd tabindex=-1 value=""/> 
                                       <div class="field has-addons">
                                          <div class="control is-expanded"> <input class="input is-medium" name=EMAIL placeholder="Enter your email" required="" type=email value=""/> </div>
                                          <div class=control> <button class="button is-primary is-inverted is-medium" type=submit>Subscribe</button> </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <section class="section is-reviews has-background is-large">
                  <div class=container>
                     <div class="section-header has-text-centered">
                        <h2 class="title is-1 is-spaced"> Why parents love us </h2>
                        <h3 class="subtitle is-4"> A small selection of reviews of <a href="https://itunes.apple.com/us/app/bedtime-stories-read-tell/id1231933548" target=_blank><u>Bedtimes Stories on the App Store</u></a>. </h3>
                     </div>
                     <div class=section-body>
                        <div class="columns is-centered">
                           <div class="column is-12 is-10-fullhd">
                              <div class=columns>
                                 <div class="column is-6">
                                    <div class=review>
                                       <div class=review-bubble> We absolutely love it! Especially the story builder is so fun - <span class=has-highlight>the kids love telling the stories on their own</span>. Thumbs up for the concept and the easy interface! </div>
                                       <div class=review-meta>
                                          <div class=review-author> meramap (AppStore) </div>
                                          <div class=review-rating> <img alt="5 stars on the App Store" role=presentation src="/assets/images/icons/rating-5810112f.svg?1588602937"/> </div>
                                       </div>
                                    </div>
                                    <div class=review>
                                       <div class=review-bubble> This is a marvelous app which helps the parents tell terrific tales to children. Lots to choose from &lt;3 and wonderful illustrations too. </div>
                                       <div class=review-meta>
                                          <div class=review-author> Julei Hodgson (AppStore) </div>
                                          <div class=review-rating> <img alt="5 stars on the App Store" role=presentation src="/assets/images/icons/rating-5810112f.svg?1588602937"/> </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="column is-6">
                                    <div class=review>
                                       <div class=review-bubble> Bedtime used to be a chore and there was always the bartering session of “Awww just 5 minutes more!”. Now we are racing to bed to read a bedtime stories on the app... Our personal favourites have to be the cheery Dinosaur, how can you resist being his best friend! <br> With <span class=has-highlight>bite-sized stories</span> that suit us down to the ground, bedtimes just got a whole lot better! 5 STARS!! </div>
                                       <div class=review-meta>
                                          <div class=review-author> Citykitty79 (AppStore) </div>
                                          <div class=review-rating> <img alt="5 stars on the App Store" role=presentation src="/assets/images/icons/rating-5810112f.svg?1588602937"/> </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class=section-footer>
                        <div class=has-text-centered><a href="https://itunes.apple.com/us/app/bedtime-stories-read-tell/id1231933548" class="app-store-badge is-large is-inline-block" target=_blank> <img role=presentation src="/assets/images/icons/app-store-badge-52d5e257.svg?1588602937"/></a> </div>
                     </div>
                     <div class=section-media> <img role=presentation src="/assets/images/icons/brenda-cd8d4f19.png?1588602937"/> </div>
                  </div>
               </section>
               <section class="section is-coverage is-medium">
                  <div class=container>
                     <div class="section-header has-text-centered">
                        <h2 class="title is-1 is-spaced"> You might know us from </h2>
                     </div>
                     <div class="section-body has-text-centered">
                        <hr class="spacer is-4"/>
                        <div class="columns is-centered">
                           <div class="column is-12">
                              <div class="level is-mobile">
                                 <div class=level-item> <a href="http://www.parents-choice.org/product.cfm?product_id=35555" target=_blank><img alt="Parents' Choice Award for Bedtime Stories" role=presentation src="/assets/images/coverage/parents-choice-0eb04228.gif?1588602937"/></a> </div>
                                 <div class=level-item> <a href="https://issuu.com/storymonstersink/docs/smi_2018_02_february_digital/30" target=_blank><img alt="Story Monsters Ink Magazine 02/18 covering Bedtime Stories" role=presentation src="/assets/images/coverage/story-monsters-ink-7fa4e4a6.png?1588602937"/></a> </div>
                                 <div class=level-item> <a href="https://luxtimes.lu/culture-life/32600-mullerthal-trolls-invade-bedtime-story-app" target=_blank><img alt="Luxembourg Times covering Bedtime Stories" role=presentation src="/assets/images/coverage/luxembourg-times-49b55da4.svg?1588602937"/></a> </div>
                                 <div class=level-item> <a href="https://www.producthunt.com/posts/bedtime-stories" target=_blank><img alt="Bedtime Stories on Product Hunt" role=presentation src="/assets/images/coverage/product-hunt-9da3a0ea.png?1588602937"/></a> </div>
                                 <div class=level-item> <a href="https://www.autismparentingmagazine.com" target=_blank><img alt="Bedtime Stories on Autism Parenting Magazine" role=presentation src="/assets/images/coverage/autism-parenting-magazine-24cc9f27.png?1588602937"/></a> </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class=section-media> <img role=presentation src="/assets/images/icons/brenda-cat-4949b55e.png?1588602937"/> </div>
                  </div>
               </section>
               <section class="section is-contact has-background is-medium">
                  <div class=container>
                     <div class="section-header has-text-centered">
                        <h2 class="title is-1 is-spaced"> Don't be shy, say hi! </h2>
                        <p class="subtitle is-4"> We might deal with trolls, werewolfs and huge dogs, but we don’t bite. </p>
                     </div>
                     <div class="section-body has-text-centered"> <a class="button is-primary is-medium" href="mailto:support@getbedtimestories.com">Get in touch</a> </div>
                     <div class=section-media> <img role=presentation src="/assets/images/hero/budo-00685600.png?1588602937"/> </div>
                  </div>
               </section>
            </main>
            <footer class="app-footer section is-medium">
               <div class=container>
                  <div class=columns>
                     <div class="column is-5 is-4-widescreen">
                        <div class=summary>
                           <a class=brand href="/">
                              <div class=brand-icon> <img alt="Bedtime Stories" role=presentation src="/assets/images/app-icon-df78e144.png?1588602937"/> </div>
                              <div class=brand-content>
                                 <div class=brand-title> Bedtime Stories </div>
                                 <div class=brand-subtitle> Exciting tales for young & old </div>
                              </div>
                           </a>
                           <hr class="spacer is-1"/>
                           <p> The storytelling app for families - read diverse & empowering stories or tell them in your own words. </p>
                           <hr class="spacer is-1"/>
                           <a href="https://itunes.apple.com/us/app/bedtime-stories-read-tell/id1231933548" class=app-store-badge target=_blank> <img role=presentation src="/assets/images/icons/app-store-badge-52d5e257.svg?1588602937"/></a> 
                           <hr class="spacer is-1"/>
                           <a href="http://www.littlelightsstudio.com" target=_blank> &copy Little Light Studio GmbH</a> 
                           <hr class="spacer is-1"/>
                           <img role=presentation src="/assets/images/vba-c99438d5.jpg?1588602937" width=200 /> 
                           <hr class="spacer is-1"/>
                           <p> Supported by Vienna Business Agency </p>
                        </div>
                     </div>
                     <div class="column is-7 is-6-widescreen is-offset-2-widescreen">
                        <div class=columns>
                           <div class="column is-4">
                              <div class=menu>
                                 <p class=menu-label> Product </p>
                                 <ul class=menu-list>
                                    <li> <a href="/">Home</a> </li>
                                    <li> <a href="/school">Storytelling School <span class="tag is-warning is-micro is-uppercase">New</span></a> </li>
                                    <li> <a href="/library">Library</a> </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="column is-4">
                              <div class=menu>
                                 <p class=menu-label> Company </p>
                                 <ul class=menu-list>
                                    <li> <a href="https://medium.com/bedtime-stories-blog">Blog</a> </li>
                                    <li> <a href="/about-us">About Us</a> </li>
                                    <li> <a href="/about-us#downloads">Press Kit</a> </li>
                                    <li> <a href="/imprint">Imprint</a> </li>
                                    <li> <a href="/privacy">Privacy</a> </li>
                                    <li> <a href="/terms">Terms</a> </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="column is-4">
                              <div class=menu>
                                 <p class=menu-label> Connect with us </p>
                                 <ul class=menu-list>
                                    <li><a href="https://facebook.com/getbedtimestories" target=_blank> <img role=presentation src="/assets/images/icons/social/facebook-f18752b0.svg?1588602937"/>Facebook</a> </li>
                                    <li><a href="https://messenger.com/t/1180441035357755" target=_blank> <img role=presentation src="/assets/images/icons/social/messenger-d2bb944d.svg?1588602937"/>Messenger</a> </li>
                                    <li><a href="https://instagram.com/getbedtimestories" target=_blank> <img role=presentation src="/assets/images/icons/social/instagram-89cb51bf.svg?1588602937"/>Instagram</a> </li>
                                    <li><a href="https://twitter.com/getbedtimestory" target=_blank> <img role=presentation src="/assets/images/icons/social/twitter-42c2f562.svg?1588602937"/>Twitter</a> </li>
                                    <li><a href="https://medium.com/bedtime-stories-blog" target=_blank> <img role=presentation src="/assets/images/icons/social/medium-2fc70afa.svg?1588602937"/>Medium</a> </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </footer>
            <div class=modal id=videoSchool>
               <div class=modal-background></div>
               <button aria-label=close class="modal-close is-large"></button> 
               <div class=modal-content>
                  <div class="embed-responsive embed-responsive-16by9"> <iframe allow="autoplay; encrypted-media" allowfullscreen="" data-src="https://www.youtube.com/embed/K8i-w8Rq-Ck" frameborder=0 src=""></iframe> </div>
               </div>
            </div>
         </div>

         <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-M5XHPR8');
         </script> 


   
   








































</div>




{% include 'html/gen-comp/signup_section.html' %}


  
</body>


</html>
