<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Semantic-ui Sidebar</title>
  {% load static %}
  {% include 'html/gen-comp/headers.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top thisshi">
      
		<div class="container"> 
		  
		  <a class='navbar-brand page-scroll' href='/'>
  
			<img src="{% static 'wallpapers_logos/universal/logo2.png' %}" width="200px" height="45px">
  
		  </a>
  
		 
  
		  
  
		<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
	 
  
		  <span class="navbar-toggler-icon"></span>
		</button>
	
	  
		
		<div class="collapse navbar-collapse" id="navbar4">
		  <a class='nav-link' href='/services/' title='See services' style="color: black;">Services</a>
		  <a class='nav-link' href='/products/' title='See products' style="color: black;">Products</a>
		  <a class='nav-link' href='/pricing/' title='See pricing' style="color: black;">Pricing</a>
		  <a class='nav-link' href='/support/' title='See support' style="color: black;">Support</a>
		  <a class='nav-link' href='/examples/' title='See examples' style="color: black;">Examples</a>
		  
	   
		 
		<ul class="navbar-nav ml-auto mt-3 mt-lg-0">
		  
		  
		  <!-- <button class="btn btn-sm btn-outline-primary tata">Sign Up
		  </button> -->
		  <a class="nav-link page-scroll btn btn-sm tata" href="{% url 'account_signup' %}">Sign Up</a>
		  <p style="margin: 5px;"></p>
		  <a class="nav-link page-scroll btn btn-sm tata1" href="{% url 'account_login' %}">Sign In</a>
		  
		  
		
	   
		</ul>
  
		<a class='nav-link page-scroll pp' data-toggle='modal' href='#aboutModal' title='A free Bootstrap theme' style="font-size: 10px;">Privacy Policy</a>
		<a href="/al/"><span class="flag-icon flag-icon-al" title="Shqip"></span></a>
		</div>
		
		</div>
		
		</nav>



















    




</body>

</html>
