<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PepperSpice | Support</title>
  {% load static %}
  {% include 'html/gen-comp/headers.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}">
</head>
<body>
  <div class="tobeblurred">

  {% include 'html/gen-comp/navbar.html' %}



 

        
        <div class="content">
        
        
          <div class="content-center">
            <div class="wrapper">
              <div class="title">
                Startup<span>To</span>Business
              </div>
             
              
              <h3 style="color: #26466D; margin-top: 100px;">Grow faster than ever. Live In a thriving community.</h3>
            </div>
          </div>

        </div>
  

        <div class="container mt-4 mb-5">
            <div class="row">
              <div class="col-md-12">
              <h2 class="sec-title text-center" style="color: #00897b;">Live Webinars</h2>
          </div>
          <div class="col-md-12 pt-5">
              <div class="row">
                <div class="col-md-12">
              <div class="card-group evet-card text-light mb-2">
                  <div class="card mb-0">
                      <div class="card-body py-1">
                          <div class="row">
                              <div class="col-5 center col-sm-3">
                                  <div class="display-4">
                                      <span class="badge">12</span>
                                  </div>
                                <h3 class="card-title " style="color: white;">November</h3>
                              </div>
                              <div class="col-7 col-sm-9">
                                  <div class="d-flex flex-column">
                                      <h3 class="card-title text-uppercase mt-0" style="color: white;"><strong>Developer Round</strong></h3>
                                      <div class="card-text">
                                          Learn how to use PepperSpice on It's maximum potential. Perfect for developers of any skill level who are looking at making their workflow smoother and faster.
                                      </div>
                                      <ul class="list-inline mt-auto">
                                          <li class="list-inline-item"> <strong>Hosted by :</strong></li>
                                          <li class="list-inline-item">Edvin <a href="#">(PepperSpice BackEnd Developer)</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-group evet-card text-light mb-2">
                  <div class="card mb-0">
                      <div class="card-body py-1">
                          <div class="row">
                              <div class="col-5 col-sm-3">
                                  <div class="display-4 ">
                                      <span class="badge" >13 </span>
                                  </div>                        
                                <h3 class="card-title " style="color: white;">November</h3>
                              </div>
                              <div class="col-7 col-sm-9">
                                  <div class="d-flex flex-column">
                                      <h3 class="card-title text-uppercase mt-0" style="color: white;"><strong>Startup Round</strong></h3>
                                      <div class="card-text">
                                          Check out the latest features on the brand new Intuitive user interface. Take a tour with Daniel, one of our Engineers.
                                      </div>
                                      <ul class="list-inline mt-auto">
                                          <li class="list-inline-item"> <strong>Hosted by :</strong></li>
                                          <li class="list-inline-item">Daniel <a href="#">(PepperSpice Infrastructure Engineer)</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 
              </div>
   
          </div>
            </div>
          </div>
            </div>
          </div>



<style>

.sec-title{
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.4;
}
.evet-card > .card .list-inline-item {
  color: #26466D;
  font-size: 14px;
}
.evet-card > .card .badge {
  background: #26466D;
}
.evet-card > .card {
  background:#00897b;
}

a {
  text-decoration: none;
  color: white;
}
</style>

        <style>
     


.content .content-center {
  flex: 1 0 auto;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

}
.content .content-center .wrapper .title {
  font-size: 100px;
  font-weight: 100;
  padding-left: 15px;
  padding-right: 15px;
  color: #00897b;
}

.content .content-center .wrapper .title span {
  padding: 15px;
  background-color: #00897b;
  color: white;
}
.content .content-center .wrapper h3 {
  text-align: center;
  font-weight: 100;
}


        </style>




{% include 'html/gen-comp/footer.html' %}
</div>

{% include 'html/gen-comp/signup_section.html' %}

</body>
</html>
  
  
  