<head>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.1.2/tailwind.min.css'>
</head>


{% load i18n %}
{% block content %}
  

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="p-4 max-w-md mx-auto bg-white border-t-8 border-indigo-700 mt-10 rounded" >
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="w-full bg-indigo-700 hover:bg-indigo-900 text-white font-medium py-3 px-4 mt-10 rounded focus:outline-none focus:shadow-outline" type="button" name="action" value="{% trans 'Reset Password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password has successfully changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
 


<!-- <form class="p-4 max-w-md mx-auto bg-white border-t-8 border-indigo-700 mt-10 rounded">
    <h1 class="font-medium text-3xl text-center py-4 text-gray-800">Sign in to App</h1>
    <label class="font-medium block mb-1 mt-6 text-gray-700" for="username">
      Username or Email
    </label>
    <input class="appearance-none border-2 rounded w-full py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-indigo-700 focus:bg-white text-gray-700 pr-16 font-mono" id="username" type="text" autocomplete="off" autofocus />
  
    <label class="font-medium block mb-1 mt-6 text-gray-700" for="password">
      Password
    </label>
    <div class="relative w-full">
      <div class="absolute inset-y-0 right-0 flex items-center px-2">
        <input class="hidden js-password-toggle" id="toggle" type="checkbox" />
        <label class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label" for="toggle">show</label>
      </div>
      <input class="appearance-none border-2 rounded w-full py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-indigo-700 focus:bg-white text-gray-700 pr-16 font-mono js-password" id="password" type="password" autocomplete="off"
      />
    </div>
  
    <button class="w-full bg-indigo-700 hover:bg-indigo-900 text-white font-medium py-3 px-4 mt-10 rounded focus:outline-none focus:shadow-outline" type="button">
      Sign in
    </button>
  
  </form> -->


