<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  {% load static %}
  <title>Sign In atom8</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>

  <link rel="stylesheet" href="{% static 'signin/style.css' %}">

</head>
<style>
  .section-register-one-side {
  background: #fff url("https://cdn.dribbble.com/users/3844750/screenshots/10847486/media/c9f801de11efefa91322b3ba12753c03.jpg") no-repeat right center;
  background-size: auto 100%;
  height: 100vh;
}
</style>
<body>

  <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-info fixed-top thisshi">
  
    
      


  <div class="text-center" style="font-size: 14px; color: white;">
    <small>Emails that stay unverified for longer than one day will be deleted from our system.</small>
  </div>




    
    
   
   
    </button>
    
    
    
   
    </nav>


<section class="section-register-one-side">
  <div class="mss-register-box">
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    <div class="mss-register-box-white">
      <p class="text-center" style="font-size: 30px;">You're almost there!</p>
      <p class="text-center" style="font-size: 18px;">Your confirmation email has been sent.</p>
      <p class="text-center" style="font-size: 18px;">Go ahead and open It to get your account started.</p>
      
      <br/>
        <div class="text-center">
        <small >Meanwhile, you can read over some examples to get you running as fast as possible.</small>
        </div>
        <br/>
        <a href="/examples/"><button type="submit" class="msc-btn msc-btn__block msc-btn__primary">Go to examples</button></a>	  
<br/>
        <div class="text-center">
          <small>Email not showing up? Check your spam or <a href="" style="text-decoration: none;"><u>send again</u></a>.</small>
          </div>

    </div>

    

	</div><!-- mystyle-signup-box -->
</section>
<!-- partial -->
  
</body>
</html>
