
{% load static %}


<script src="https://unpkg.com/vivid-icons@1.0.10" type="text/javascript"></script>

<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
   
    <a class='navbar-brand page-scroll' href='/'>

      <img src="{% static 'wallpapers_logos/universal/logo2.png' %}" width="200px">
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>



  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-active" href="/cloud/" style="color: 	black;">
          Cloud
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item " href="/documentation/overview/start/">
            Deployments
          </a>
          <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
            Microservices
          </a>
          <a class="navbar-item " href="http://bulma.io/documentation/columns/basics/">
            Security
          </a>
          <a class="navbar-item " href="http://bulma.io/documentation/layout/container/">
            Networking
          </a>
          <a class="navbar-item " href="http://bulma.io/documentation/form/general/">
            Support
          </a>
          <a class="navbar-item " href="http://bulma.io/documentation/elements/box/">
            Forum
          </a>

          <hr class="navbar-divider">
          <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                <strong class="has-text-info">Comming soon</strong>
              </p>

              <small>
                  <a class="bd-view-all-versions" href="/versions">DevHub</a>
                </small>

            </div>
          </div>
        </div>
      </div>


      <style>
        .enclosing {
          padding: 10px 10px 10px 15px;
          transition: .3s;
          border-radius: 10px;
        }

        .enclosing:hover {
          
          background-color:rgb(241, 241, 241);
          opacity: .8;
          cursor: pointer;
        }
      </style>

      <style>
        .curved {
          border-radius: 10px;
        }
      </style>


      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link flex" style="color: black;">
          Services
        </div>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          <div class="container is-fluid">
            <div class="columns">


              <div class="column">
           
                
                
             
                <div class="dropdown-item" style="color: black;">
                 
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.5);" src="https://www.flaticon.com/svg/static/icons/svg/957/957541.svg">
                            <div class="media-content">
                                <h3 class="pl-4">Traffic Analysis  <span class="tag is-black is-rounded">BETA</span></h3>
                                <small class="pl-4">Understand your traffic.</small>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.2);" src="https://www.flaticon.com/svg/static/icons/svg/2879/2879234.svg">
                            <div class="media-content">
                                <h3 class="pl-4">Data Export  <span class="tag is-black is-rounded">BETA</span></h3>
                                <small class="pl-4">Access user guides and FAQs.</small>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.4);" src="https://www.flaticon.com/svg/static/icons/svg/1985/1985582.svg">
                            <div class="media-content">
                                <h3 class="pl-4">Trend Prediction  <span class="tag is-black is-rounded">BETA</span></h3>
                                <small class="pl-4">Access user guides and FAQs.</small>
                            </div>
                        </div>
                    </a>
                  </div>
                  <hr class="dropdown-divider" >
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.2);" src="https://www.flaticon.com/premium-icon/icons/svg/3193/3193205.svg">
                            <div class="media-content">
                                <h3 class="pl-4">Data Help Center</h3>
                                <small class="pl-4">Access user guides and FAQs.</small>
                            </div>
                        </div>
                    </a>
                  </div>
              </div>
           
              </div>


              <div class="column">
               
                
                   
                <div class="dropdown-item" style="color: black;">
                  
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.3);" src="https://www.flaticon.com/svg/static/icons/svg/1067/1067625.svg">
                            <div class="media-content">
                                <h3 class="pl-4">Startup</h3>
                                <small class="pl-4">Efficient services for Startups.</small>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.2);" src="https://www.flaticon.com/svg/static/icons/svg/3612/3612117.svg">
                            <div class="media-content">
                                <h3 class="pl-4">Small Business  <span class="tag is-black is-rounded">BETA</span></h3>
                                <small class="pl-4">Flexible services for SMB's.</small>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.5);" src="https://www.flaticon.com/svg/static/icons/svg/2654/2654465.svg">
                            <div class="media-content">
                                <h3 class="pl-4">Individual  <span class="tag is-black is-rounded">BETA</span></h3>
                                <small class="pl-4">Affordable services for Individuals.</small>
                            </div>
                        </div>
                    </a>
                  </div>
                  <hr class="dropdown-divider" >
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.5);" src="https://www.flaticon.com/svg/static/icons/svg/476/476715.svg">
                            <div class="media-content">
                                <h3 class="pl-4">Teams  <span class="tag is-black is-rounded">BETA</span></h3>
                                <small class="pl-4">Collaboration made easy.</small>
                            </div>
                        </div>
                    </a>
                  </div>
              </div>

                  </div>

                  <div class="column">
                    
                 
                    
                         <div class="dropdown-item" style="color: black;">
                  
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.5);" src="https://www.flaticon.com/svg/static/icons/svg/2586/2586160.svg">

                            <div class="media-content">
                                <h3 class="pl-4">Redundancy <span class="tag is-black is-rounded">BETA</span></h3>
                                <small class="pl-4">Unprecedented data safety.</small>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.5);" src="https://www.flaticon.com/svg/static/icons/svg/2232/2232137.svg">

                            <div class="media-content">
                                <h3 class="pl-4">Databases</h3>
                                <small class="pl-4">Fast & Reliable services.</small>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(2);" src="https://www.flaticon.com/svg/static/icons/svg/2535/2535404.svg">

                            <div class="media-content">
                                <h3 class="pl-4">Deployments</h3>
                                <small class="pl-4">Automate 99% of your workflow.</small>
                            </div>
                        </div>
                    </a>
                  </div>
                  <hr class="dropdown-divider" >
                  <div class="enclosing">
                    <a href="#" class="dropdown-content" class="pt-3">
                        <div class="media">
                          <img style="transform: scale(1.5);" src="https://www.flaticon.com/svg/static/icons/svg/957/957541.svg">

                            <div class="media-content">
                                <h3 class="pl-4">Help Center</h3>
                                <small class="pl-4">Access user guides and FAQs.</small>
                            </div>
                        </div>
                    </a>
                  </div>
              </div>
                   
                      </div>

                      <div class="column">
                       
                           
                            
                        <div class="dropdown-item" style="color: black;">
                  
                          <div class="notification is-primary">
                            
                            Primar lorem ipsum dolor sit amet, consectetur
                            adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>.
                          </div>
                          
                        
                          <div class="enclosing">
                            <a href="#" class="dropdown-content" class="pt-3">
                                <div class="media">
                                  <img style="transform: scale(1.2);" src="https://www.flaticon.com/svg/static/icons/svg/1746/1746667.svg">

                                    <div class="media-content">
                                        <h3 class="pl-4">Online Support</h3>
                                        <small class="pl-4">Explore FAQ's & 24/7 Support.</small>
                                    </div>
                                </div>
                            </a>
                          </div>
                      </div>

                          </div>
            
              <!-- <div class="column">

                <br/>
                <h1 style="color: #198de6;">Developer Hub (upcoming)</h1>
                <div class="ui divider"></div>
               
              
               
                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.6);" src="https://www.pngrepo.com/download/204277/brainstorm-idea.png">
                      </a>
                      <div class="content">
                        <div class="author">Brainstorming</div>
                       
                        <div class="text">
                          Learn how to expose your project to the entire world!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.2);" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/OOjs_UI_icon_code.svg/1200px-OOjs_UI_icon_code.svg.png">
                      </a>
                      <div class="content">
                        <div class="author">Development</div>
                       
                        <div class="text">
                          Learn how to expose your project to the entire world!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1);" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Black_check.svg/768px-Black_check.svg.png">
                      </a>
                      <div class="content">
                        <div class="author">Testing</div>
                       
                        <div class="text">
                          Learn how to expose your project to the entire world!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.5);" src="https://www.freeiconspng.com/thumbs/production-icon/production-icon-4.png">
                      </a>
                      <div class="content">
                        <div class="author">Production</div>
                       
                        <div class="text">
                          Learn how to expose your project to the entire world!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                

              </div>

              <div class="column">
                <br/>
                <h1 style="color: #198de6;">Startups</h1>
                <div class="ui divider"></div>
               
             
                
                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.5);" src="https://cloudpockets.com/wp-content/uploads/hybrid-backup.png">
                      </a>
                      <div class="content">
                        <div class="author">Deploy Fast & Easy</div>
                       
                        <div class="text">
                          Learn how to expose your project to the entire world!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.5);" src="https://image.flaticon.com/icons/png/512/117/117242.png">
                      </a>
                      <div class="content">
                        <div class="author">Secure</div>
                       
                        <div class="text">
                          Learn how to expose your project to the entire world!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.8);" src="https://pngimage.net/wp-content/uploads/2018/06/flexibility-icon-png-7.png">
                      </a>
                      <div class="content">
                        <div class="author">Flexible UI</div>
                       
                        <div class="text">
                          Whether you are a developer or not, It's now easier than ever.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.8);" src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/001/507/original/customer-engagement.png">
                      </a>
                      <div class="content">
                        <div class="author">Community</div>
                       
                        <div class="text">
                          Grow faster with a thriving community. Get help, help others and collaborate.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
              </div>



              <div class="column">
                <br/>
                <h1 style="color: #198de6;">Redundancy</h1>
                <div class="ui divider"></div>
               
             
                
                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.2);" src="https://webstockreview.net/images/photograph-clipart-snapshot.png">
                      </a>
                      <div class="content">
                        <div class="author">Snapshots</div>
                       
                        <div class="text">
                          Learn how to expose your project to the entire world!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.3);" src="https://lh3.googleusercontent.com/proxy/6rOMPsujORkRfLdKXZjpZ0ZAnksDGw2x9JQg7rJU5yxBDJlBvnplaIxmOrUf9uXjH-KhttcaZdELt5KjDxBOOjUIBerr42_x0zVrCxwcjeXijejqzA">
                      </a>
                      <div class="content">
                        <div class="author">Volumes</div>
                       
                        <div class="text">
                          Learn how to expose your project to the entire world!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.8);" src="https://www.flaticon.com/svg/static/icons/svg/1349/1349935.svg">
                      </a>
                      <div class="content">
                        <div class="author">P2P Distribution <span class="tag is-black is-rounded">BETA</span></div>
                       
                        <div class="text">
                          Whether you are a developer or not, It's now easier than ever.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="enclosing">
                  <div class="ui comments">
                    <div class="comment">
                      <a class="avatar">
                        <img style="transform: scale(1.4);" src="https://www.pinclipart.com/picdir/big/124-1244440_database-backup-icon-data-backup-icon-png-clipart.png">
                      </a>
                      <div class="content">
                        <div class="author">Double Storage</div>
                       
                        <div class="text">
                          Grow faster with a thriving community. Get help, help others and collaborate.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
              </div> -->




            </div>

          </div>

          <hr class="navbar-divider">
          
          
        </div>
      </div>








      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link flex" style="color: black;">
          Support
        </div>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">

                <br/>

            
                <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    
                      <img style="transform: scale(1.3);" src="https://img.icons8.com/cotton/2x/create-new.png">
                
                    <div class="content">
                      <a class="author">Setting up a Web App</a>
                     
                      <div class="text">
                        Learn from the best on how to quickly set up a Web Application environment.
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                
                <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img style="transform: scale(1.4);" src="https://image.flaticon.com/icons/png/512/1792/1792261.png">
                    </a>
                    <div class="content">
                      <a class="author">Deploying a Database</a>
                     
                      <div class="text">
                        Learn how to deploy a database within 30 seconds. Count on It!
                      </div>
                    </div>
                  </div>
                </div>
                </div>


                <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img class="img1" style="transform: scale(1.3);" src="https://www.iconfinder.com/data/icons/basic-ui-2-line/32/chain-link-linked-complement-links-512.png">
                    </a>
                    <div class="content">
                      <a class="author">Linking Projects</a>
                      <div class="text">
                        Link projects with nodes to prepare them for deployment.
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img style="transform: scale(1.3);" src="https://cdn1.iconfinder.com/data/icons/software-development-filled-outline/64/launch-startup-deployment-software-development-512.png">
                    </a>
                    <div class="content">
                      <a class="author">Deploying to the Web</a>
                     
                      <div class="text">
                        Learn how to expose your project to the entire world!
                      </div>
                    </div>
                  </div>
                </div>
                </div>

              </div>



              <div class="column">

                <br/>

            
                <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img style="transform: scale(1.3);" src="https://freepikpsd.com/wp-content/uploads/2019/10/choose-icon-png-6-Transparent-Images.png">
                    </a>
                    <div class="content">
                      <a class="author">Selecting the right version.</a>
                     
                      <div class="text">
                        Learn from the best on how to quickly set up a Web Application environment.
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                
                <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img src="https://www.docker.com/sites/default/files/d8/styles/role_icon/public/2019-07/Moby-logo.png?itok=sYH_JEaJ">
                    </a>
                    <div class="content">
                      <a class="author">Containers</a>
                     
                      <div class="text">
                        Learn how to deploy a database within 30 seconds. Count on It!
                      </div>
                    </div>
                  </div>
                </div>
                </div>


                <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img class="img1" style="transform: scale(1.3);" src="https://icon-library.com/images/4321-200_66070.png">
                    </a>
                    <div class="content">
                      <a class="author">Microservices</a>
                      <div class="text">
                        Link projects with nodes to prepare them for deployment.
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img style="transform: scale(1.3);" src="https://www.iconfinder.com/data/icons/space-exploration-and-next-big-things-17/512/705_Big_Cloud_Data_Storage-512.png">
                    </a>
                    <div class="content">
                      <a class="author">SPICE</a>
                     
                      <div class="text">
                        Learn how to expose your project to the entire world!
                      </div>
                    </div>
                  </div>
                </div>
                </div>

              </div>

              <div class="column">

                <br/>

            
               <div class="enclosing modal-button">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img src="https://www.svgrepo.com/show/71463/private-network.svg">
                    </a>
                    <div class="content">
                      <a class="author">Firewall</a>
                     
                      <div class="text">
                        Learn from the best on how to quickly set up a Web Application environment.
                      </div>
                    </div>
                  </div>
                </div>
               </div>
                
                <div class="enclosing">
                <div class="ui comments ">
                  <div class="comment ">
                    <a class="avatar">
                      
                      <img style="transform: scale(1.3);" class="img1" src="https://www.ci.lowell.or.us/sites/default/files/imageattachments/administration/page/193/international-websites-web-icon.png">
                    </a>
                    <div class="content">
                      <a class="author">DNS Management</a>
                      <div class="text">
                        Link projects with nodes to prepare them for deployment.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              

              <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img class="img1" style="transform: scale(1.3);" src="https://freepikpsd.com/wp-content/uploads/2019/10/analyze-icon-png-4-Transparent-Images.png">
                    </a>
                    <div class="content">
                      <a class="author">Monitoring</a>
                      <div class="text">
                        Link projects with nodes to prepare them for deployment.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="enclosing">
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img style="transform: scale(1.3);" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-r4Jz0LnzKIHjDLERg1jiTQThFfZFkeXnvA&usqp=CAU">
                    </a>
                    <div class="content">
                      <a class="author">Logging</a>
                     
                      <div class="text">
                        Learn how to expose your project to the entire world!
                      </div>
                    </div>
                  </div>
                </div>
                </div>

              </div>


              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
                <a class="navbar-item " href="/documentation/overview/start/">
            Overview
          </a>
                <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
            Modifiers
          </a>
                <a class="navbar-item " href="http://bulma.io/documentation/columns/basics/">
            Columns
          </a>
                <a class="navbar-item " href="http://bulma.io/documentation/layout/container/">
            Layout
          </a>
              </div>



            </div>
          </div>

          <hr class="navbar-divider">
         
          
        </div>
      </div>

 
    
{% include 'html/gen-comp/articles/firewall.html' %}
    


 




      <a class="navbar-item " href="http://bulma.io/expo/">
       Pricing
      </a>
      <a class="navbar-item " href="http://bulma.io/love/">
       Examples
      </a>
    </div>



    <div class="navbar-end">


      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button is-danger" target="_blank" href="/accounts/login/" style="background-color: #2ed6af;">
              <span>
         
    Log in
  </span>
            </a>

          </p>
          <p class="control">
            <a class="button is-white" href="/accounts/register/">
              <span>Sign up</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>


</nav>




<style>
  .navbar-item.is-mega {
  position: static;
}
.navbar-item.is-mega .is-mega-menu-title {
  margin-bottom: 0;
  padding: .375rem 1rem;
}
</style>


<script>
  document.addEventListener('DOMContentLoaded', function () {

// Get all "navbar-burger" elements
var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any nav burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach(function ($el) {
    $el.addEventListener('click', function () {

      // Get the target from the "data-target" attribute
      var target = $el.dataset.target;
      var $target = document.getElementById(target);

      // Toggle the class on both the "navbar-burger" and the "navbar-menu"
      $el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
</script>


