{% load static %}
<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top thisshi">
      
  <div class="container"> 
    
    <a class='navbar-brand page-scroll' href='/'>

      <img src="{% static 'wallpapers_logos/universal/logo2.png' %}" width="200px" height="45px">

    </a>

   

    

  <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">


    <span class="navbar-toggler-icon"></span>
  </button>




  
  <div class="collapse navbar-collapse" id="navbar4">











    <a class='nav-link ui button red inverted' href='/services/' title='See services' style="border-radius: 10px; padding: 10px;">Services</a>
    
    
   


    <a class='nav-link ui button red inverted' href='/products/' title='See services' style="border-radius: 10px; padding: 10px;">Products</a>
















<style>
.onhover:hover {
opacity: .7;
transition: .5s;
}
</style>




<a class='nav-link wadsda ui red button inverted ' style="border-radius: 10px; padding: 10px;" href='/support/' data-tcs="#popup-1">Support</a>


    <div id="pop" class="ui fluid popup center transition hidden " >
      <div class="ui grid  stackable">
      <div class="eight wide  column ">
       
       
       <div class="onhover" style="cursor: pointer;">
        <div class="ui comments">
          <div class="comment">
            <a class="avatar">
              <img src="https://www.iconfinder.com/data/icons/paint-tools/512/status-512.png">
            </a>
            <div class="content">
              <a class="author">Have a quesiton?</a>
             
              <div class="text">
                Head to our friendly community forum and ask any question you have. 
              </div>
            </div>
          </div>
        </div>
      </div>
<br/>

      <div class="onhover" style="cursor: pointer;">
        <div class="ui comments">
          <div class="comment">
            <a class="avatar">
              <img src="https://cdn.iconscout.com/icon/free/png-256/network-389-461683.png">
            </a>
            <div class="content">
              <a class="author">Network issues?</a>
             
              <div class="text">
                Contact our 24/7 support staff to sort out any connectivity issues you are having.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="eight wide column ">
      <div class="onhover" style="cursor: pointer;">
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
            <img src="https://www.jing.fm/clipimg/full/149-1491645_database-logos-blue-transparent-database-icon.png">
          </a>
          <div class="content">
            <a class="author">Database troubles?</a>
            <div class="text">
              Our technical Q&A section has plenty of automated information ready for you.
            </div>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <div class="onhover" style="cursor: pointer;">
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
            <img src="https://cdn.onlinewebfonts.com/svg/img_372046.png">
          </a>
          <div class="content">
            <a class="author">Monitoring issues?</a>
           
            <div class="text">
              Contact our 24/7 support staff to get you back up & analyzing your data.
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

      

      
    
    </div>
    </div>

    <script type="application/javascript">
 $(document).on('mouseover', '.wadsda', function() {
    $(this)
       .popup({
           popup: $('#pop'),
            on:'hover',
            hoverable: true,
       })
       .popup('show');
});


$(document).on('mouseover', '.dqwsdfd', function() {
    $(this)
       .popup({
           popup: $('#pop1'),
            on:'hover',
            hoverable: true,
       })
       .popup('show');
       
});


// $('[data-tcs]')
// .popup({
//     popup : $(this).attr('data-tcs'),
//     on    : 'hover',
//     delay: {
//       show: 0,
//       hide: 500
//     },
//     hoverable: true
// });
    
   
    </script>






    <a class='nav-link dqwsdfd ui button red inverted' href='/examples/' title='See examples' style="border-radius: 10px; padding: 10px;">Examples</a>
  
    <div id="pop1" class="ui fluid popup center transition hidden " >
      <div class="ui grid  stackable">
      <div class="eight wide  column ">
       
       
       <div class="onhover" style="cursor: pointer;">
        <div class="ui comments">
          <div class="comment">
            <a class="avatar">
              <img src="https://img.icons8.com/cotton/2x/create-new.png">
            </a>
            <div class="content">
              <a class="author">Setting up a Web App</a>
             
              <div class="text">
                Learn from the best on how to quickly set up a Web Application environment.
              </div>
            </div>
          </div>
        </div>
      </div>
<br/>

      <div class="onhover" style="cursor: pointer;">
        <div class="ui comments">
          <div class="comment">
            <a class="avatar">
              <img src="https://www.pngfind.com/pngs/m/269-2693351_add-database-to-cloud-comments-cloud-database-icon.png">
            </a>
            <div class="content">
              <a class="author">Deploying a Database</a>
             
              <div class="text">
                Learn how to deploy a database within 30 seconds. Count on It!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<style>
  .img1 {
    width: 45px !important;
  }
</style>

    <div class="eight wide column ">
      <div class="onhover" style="cursor: pointer;">
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
            <img class="img1" src="https://www.iconfinder.com/data/icons/basic-ui-2-line/32/chain-link-linked-complement-links-512.png">
          </a>
          <div class="content">
            <a class="author">Linking Projects</a>
            <div class="text">
              Link projects with nodes to prepare them for deployment.
            </div>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <div class="onhover" style="cursor: pointer;">
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
            <img src="https://cdn1.iconfinder.com/data/icons/software-development-filled-outline/64/launch-startup-deployment-software-development-512.png">
          </a>
          <div class="content">
            <a class="author">Deploying to the Web</a>
           
            <div class="text">
              Learn how to expose your project to the entire world!
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

      

      
    
    </div>
    </div>

  










    <a class='nav-link ui button red inverted' href='/pricing/'  style="border-radius: 10px; padding: 10px;" title='See pricing' style="border-radius: 10px; padding: 10px;">Pricing</a>
 
   
  <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
    
    
    <!-- <button class="btn btn-sm btn-outline-primary tata">Sign Up
    </button> -->
    <button class="nav-link page-scroll btn btn-sm tata" id="modalbutton">Sign Up</button>
    <p style="margin: 5px;"></p>
    <a class="nav-link page-scroll btn btn-sm tata1" href="{% url 'account_login' %}">Sign In</a>
    
    
  
 
  </ul>

  <a class='nav-link page-scroll pp' data-toggle='modal' href='#aboutModal' title='A free Bootstrap theme' style="font-size: 10px;">Privacy Policy</a>
  <a href="/al/"><span class="flag-icon flag-icon-al" title="Shqip"></span></a>
  </div>
  
  </div>
  
  </nav>
