{% extends "gen-comp/base.html" %}
{% block content %}
<h1 data-aos="fade-down" data-aos-duration="2000" style="color:white;">one-click automation</h1>
        <h5 data-aos="fade-up" data-aos-duration="2000" class='wow fadeIn text-normal wow fadeIn' style="color:white;">the fastest way for idesadsas, from your brain to the world</h5>
        
        <br/>
        <a data-aos="fade-up" data-aos-once="true" data-aos-duration="3000" class="firstbutton wow btn btn-sm tatafirst text-normal" href="/signup/">Get Started</a>

{% endblock content %}