

<nav class="navbar navbar-inverse navbar-fixed-bottom">
<div class="container-fluid">
<div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>                        
  </button>
  <a class="navbar-brand" href="#">Art Avenger</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact us</a></li>
    <li class="dropdown ">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery
      <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="#">Street Art</a></li>
        <li><a href="#">Political Comics</a></li>
        <li><a href="#">Paintings</a></li> 
      </ul>
  </ul>
</div>
</div>
</nav>

<style>
  .container {
  max-width: 928px;
}


</style>
